Client/Connected Services/ServiceReference1/LibraryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBorrowedItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BorrowedItem" nillable="true" type="tns:BorrowedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBorrowedItem" nillable="true" type="tns:ArrayOfBorrowedItem" />
  <xs:complexType name="BorrowedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="BorrowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReturnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowedItem" nillable="true" type="tns:BorrowedItem" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
</xs:schema>