Client/Connected Services/ServiceReference1/LibraryService.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryService.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryService.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NoSuchBookException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoSuchBookException" nillable="true" type="tns:NoSuchBookException" />
</xs:schema>