Client/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Library" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LibraryService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibrary_ListOfBorrowedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfBorrowedItems" />
  </wsdl:message>
  <wsdl:message name="ILibrary_ListOfBorrowedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfBorrowedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetBorrowedBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowedBooks" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetBorrowedBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowedBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_BookInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:BookInfo" />
  </wsdl:message>
  <wsdl:message name="ILibrary_BookInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_BorrowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBook" />
  </wsdl:message>
  <wsdl:message name="ILibrary_BorrowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibrary">
    <wsdl:operation name="ListOfBorrowedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/ListOfBorrowedItems" message="tns:ILibrary_ListOfBorrowedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/ListOfBorrowedItemsResponse" message="tns:ILibrary_ListOfBorrowedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBorrowedBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/GetBorrowedBooks" message="tns:ILibrary_GetBorrowedBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/GetBorrowedBooksResponse" message="tns:ILibrary_GetBorrowedBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/BookInfo" message="tns:ILibrary_BookInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/BookInfoResponse" message="tns:ILibrary_BookInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/BorrowBook" message="tns:ILibrary_BorrowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/BorrowBookResponse" message="tns:ILibrary_BorrowBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibrary" type="tns:ILibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListOfBorrowedItems">
      <soap:operation soapAction="http://tempuri.org/ILibrary/ListOfBorrowedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBorrowedBooks">
      <soap:operation soapAction="http://tempuri.org/ILibrary/GetBorrowedBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookInfo">
      <soap:operation soapAction="http://tempuri.org/ILibrary/BookInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap:operation soapAction="http://tempuri.org/ILibrary/BorrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Library">
    <wsdl:port name="BasicHttpBinding_ILibrary" binding="tns:BasicHttpBinding_ILibrary">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>